<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>PSP_ServletFTP_GrupoJorvija</display-name>
  
  <servlet>
  	<servlet-name>clase</servlet-name>
  	<servlet-class>com.psp.controller.Handler</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>crearFTP</servlet-name>
  	<servlet-class>com.psp.controller.ServletFTP</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>clase</servlet-name>
  	<url-pattern>/clase</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>crearFTP</servlet-name>
  	<url-pattern>/crearFTP</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  
</web-app>